@font-face
  font-style: normal
  font-weight: 400
  font-display: swap
  font-family: "LXGW WenKai"
  src: local("LXGW WenKai"), local("LXGWWenKai"), url("../fonts/LXGWWenKai-Regular.woff2") format("woff2")
