$color-background = #ffffff
$color-footer-mobile-1 = rgba(255, 255, 255, .94)
$color-footer-mobile-2 = #faf7fc
$color-background-code = #faf7fc
$color-border = #e8e0ee
$color-scrollbar = #d2c4df
$color-meta = #776f7e
$color-meta-code = #706878
$color-link = rgba(151, 104, 190, .62)
$color-text = #302d36
$color-accent-1 = #9a6bc4
$color-accent-2 = #b65f91
$color-accent-3 = #776f7e
$color-quote = #9d5c91
$highlight = hexo-config("highlight") || "github"
