$color-background = #202225
$color-footer-mobile-1 = #26292c
$color-footer-mobile-2 = #303438
$color-background-code = #282b2e
$color-border = #6e747a
$color-scrollbar = #747b82
$color-meta = #b6bcc2
$color-meta-code = #c8cdd2
$color-link = rgba(142, 188, 181, .9)
$color-text = #f2f3f4
$color-accent-1 = #f06b7d
$color-accent-2 = #9fc4bf
$color-accent-3 = #c6cbd0
$color-quote = #f06b7d
$highlight = "tomorrow-night"
